#myinput textarea {
    margin: 0px;
    width: 492px;
    height: 160px;
    resize: none;
}
#mybutton{
    margin-top: -26px;
}
/* #mybutton button{
    background-color: rgb(106, 231, 106);
    color: black
} */