{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Health Checks Blogs{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Add Blog post <small><a href="{% url 'blog:hc-category' %}">View Posts</a></small></h1>
        <button type="submit" name='category'><a href="{% url 'blog:hc-category' %}">Add category</a></button>
        <form method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type = "submit">submit</button>
        </form>
    </div>
    
</div>

{% endblock %}