{% extends "front/base_docs.html" %}
{% load staticfiles %}

{% block title %}
    Blog Categories
{% endblock %}

{% block content %}

<div class="col-md-12">
        <h2 style="text-align:center; font-size:70px;">
                Blog Posts
        </h2>
</div>
<div class='row'>
    <h3 class='col-md-12'> Blog Categories</h3>
    <div class='col-md-3'>
            <!-- {% include 'blog/category.html' %} -->
            <ul class="list-group">
                {% for category in categories %}
                        <li class="list-group-item">
                        <!-- <form  action="{% url 'blog:hc-category-blogs' category=category.id %}">
                            <input style="background-color:ghostwhite; border-radius:10px;" type="submit" value="{{ category.title }}">
                        </form> -->
                        <a style="font-size:20px;"href="{% url 'blog:hc-category-blogs' category=category.id %}"> {{ category.title }}</a>
                        </li>
                {% endfor %}
            </ul>
    </div>
    <div class='col-md-8'>
            <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{ category }}</h3>
                    </div>
                    {% for blog in blogs %}

                    <div class="panel-body" style="font-size:20px">
                       <a style="font-size:20px;"href="{% url 'blog:hc-view-blog' blog.slug %}">
                           {{ blog.title }}
                       </a>
                    </div>
                    {% endfor %}
            </div>
    </div>
</div>
                        
    

    {% endblock %}
