{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Blogs{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Blog posts <small><a href="{% url 'blog:hc-blog' %}">Add post</a></small></h1>
        {% for blog in blogs %}
        <ul>
           
            <a href="#">
                {{ blog.title }}
            </a>
            
            </ul>
                {% endfor %}
        
    </div>
    <div class="col-md-6">
        {% include 'blog/category.html' %}
        {% for category in categories %}
        <ul>
                <a href="#">
                {{ category.title }}
                </a>
            </ul>
                {% endfor %}
        
    
    </div>
</div>

{% endblock %}