{% extends "front/base_docs.html" %}
{% load staticfiles %}

{% block title %}
    Blog Categories
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css">
<div class="col-md-12">
        <h2 style="text-align:center; font-size:70px;">
                Blog Posts
        </h2>
</div>
<div class='row'>
    <h3 class='col-md-12'> Blog Categories</h3>
    <div class='col-md-3'>
           
            <ul class="list-group">
                {% for category in categories %}
                        <li class="list-group-item">
                        <a style="font-size:20px;"href="{% url 'blog:hc-category-blogs' category=category.id %}"> {{ category.title }}</a>
                        </li>
                {% endfor %}
            </ul>
                            <!-- <adding the pagination> -->
                                    <div class="pagination">
                                            <span class="step-links">
                                                {% if categories.has_previous %}
                                                    <a href="?page=1">&laquo; first</a>
                                                    <a href="?page={{ categories.previous_page_number }}">previous</a>
                                                {% endif %}
                                        
                                                <span class="current">
                                                    Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
                                                </span>
                                        
                                                {% if categories.has_next %}
                                                    <a href="?page={{ categories.next_page_number }}">next</a>
                                                    <a href="?page={{ categories.paginator.num_pages }}">last &raquo;</a>
                                                {% endif %}
                                            </span>
                                        </div>
                                <!-- <ending the pagination></ending> -->
    </div>
    <div class='col-md-7'>
            <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{ category }}</h3>
                    </div>
                    {% for blog in blogs %}

                    <div class="panel-body" style="font-size:20px">
                       <a style="font-size:20px;"href="{% url 'blog:hc-view-blog' blog.slug %}">
                           {{ blog.title }}
                       </a>
                    </div>
                    {% endfor %}
                    <!-- <adding the pagination> -->
                            <div class="pagination">
                                    <span class="step-links">
                                        {% if blogs.has_previous %}
                                            <a href="?page=1">&laquo; first</a>
                                            <a href="?page={{ blogs.previous_page_number }}">previous</a>
                                        {% endif %}
                                
                                        <span class="current">
                                            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
                                        </span>
                                
                                        {% if blogs.has_next %}
                                            <a href="?page={{ blogs.next_page_number }}">next</a>
                                            <a href="?page={{ blogs.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                                </div>
                        <!-- <ending the pagination></ending> -->
            </div>
    </div>
    <div id="mybutton" class='col-md-2'>
        <a style="margin-top:-20px" href="{% url 'blog:hc-categories' %}"><button type="button" class="btn btn-primary">CREATE BLOG</button></a>
    </div>
</div>
                        
    

    {% endblock %}
